html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

#topCol {
    font-size: 24px;
    font-weight: bold;
}

#leftCol {
    width: 300px;
}

#bottomCol {
    height: 200px;
}

.grid-task-status {
    margin-bottom: 15px;
}

.grid-task-status .field-id {
    width: 80px;
}

.grid-task-status .field-created {
    width: 180px;
}

.grid-task-status .field-status {
    width: 100px;
}

.grid-task-status .field-duration {
    width: 100px;
}

.grid-task-status .expando {
    background: white;
    padding: 5px;
    border: 1px solid silver;
}

.grid-task-status .collapsed .expando {
    display: none;
}

.task-error-header {
    font-weight: bold;
    font-size: 15px;
}
