html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

#topCol {
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 0 10px;
}

#leftCol {
    width: 300px;
}

#bottomCol {
    height: 200px;
}

.grid-task-status .field-id {
    width: 60px;
}

.grid-task-status .field-created {
    width: 150px;
}

.grid-task-status .field-status {
    width: 80px;
}

.grid-task-status .field-duration {
    width: 80px;
}

.grid-task-status .expando {
    background: white;
    padding: 5px;
    border: 1px solid silver;
}

.grid-task-status .collapsed .expando {
    display: none;
}

.grid-fill-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: 8px;
}

.grid-table-info {
    margin-bottom: 10px;
 }

.task-result-header {
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
}

.task-result-header a {
    float: right;
}

#ulTables {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

#ulTables li {
    margin: 0;
    padding: 0;
}

#ulTables li a {
    color: black;
    text-decoration: none;
    display: block;
    line-height: 25px;
    padding: 0 5px;
}

#ulTables li a:hover {
    background-color: #eee;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-scroll {
    overflow-y: scroll;
    overflow-x: scroll;
}

ul.option-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.option-list li {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

ul.option-list a {
    font-size: 12px;
    color: silver;
    text-decoration: none;
    float: right;
}

ul.option-list a:hover {
    color: black;
    text-decoration: underline;
}

#dlgTaskInfo table {
    border-collapse: collapse;
    width: 100%;
}

#dlgTaskInfo th, #dlgTaskInfo td {
    padding: 5px;
    border: 1px solid silver;
}

#dlgTaskInfo th {
    width: 80px;
    background-color: #eee;
}

#dlgTaskInfo td {
    word-break: break-all;
}

div.option-help {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

div.option-help i {
  display: inline-block;
  vertical-align: top;
}

div.option-help a {
  text-decoration: none;
  color: black;
  line-height: 20px;
}

div.option-help a:hover {
  text-decoration: underline;
}
